@page "/"

<div style="padding: 20px;">
    @if (_isConnected)
    {
        <h3>Hello, @_publicAddress you're connected </h3>

        <button @onclick="DisConnectAsync">
            Sign Out
        </button>
    }
    else
    {
        <button @onclick="ConnectAsync">
            Connect to Phantom Wallet, you're disconnected
        </button>
    }
</div>


